/*
*   File: global.css
*   Author: Tradesmanhelix
*   Purpose: Global page styles for tradesmanhelix.com
*   NOTE: Please accept my apologies for this monstrosity.
*   It was my first foray into the world of Bootstrap :(
*   Hopefully, I will redo this all one day.
*/

/*
***************************************************************
*   HTML STYLES
***************************************************************
*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div {
    margin: 0;
    padding: 0;
}

a, a:active, a:focus, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

address {
    color: #837b7b;
    font-style: italic;
}

body {
    background-color: #FFF;
    font-family: Courier, monospace;
    font-size: 16px;
}

footer {
    margin-bottom: 2.5rem;
    margin-top: 6rem;
    text-align: center;
    width: 100%;
}

hr {
    margin-top: 0;
}

html {
    font-size: 15px;
}

img {
    height: auto;
    max-width: 100%;
    width: auto;
}

/*
***************************************************************
*   DIV STYLES
***************************************************************
*/

#about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

#connect {
    margin-top: 5rem;
}

#header {
    background-image: url(../img/portfolio-img-small.jpg);
    background-position: center;
    position: relative;
}

#header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

#header-text {
    bottom: 2rem;
    left: 50%;
    margin-left: 37px;
    position: absolute;
}

#wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 2rem;
}

/*
***************************************************************
*   CLASS STYLES
***************************************************************
*/

.about-paragraph {
    margin-bottom: 1.5rem;
}

.a-underline {
    text-decoration: underline;
}

.a-underline:hover {
    text-decoration: underline;
    text-decoration-color: #F4A93F;
    -moz-text-decoration-color: #F4A93F;
}

.circle {
    background-color: black;
    border-radius: 50%;
    -moz-border-radius: 50%;
    height: 0;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100%;

    /* Transition Styles */
    opacity: 1;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

.circle:hover {
    background-color: #F4A93F;
    box-shadow: inset 0 0 5px #acacac;
    -moz-box-shadow: inset 0 0 5px #acacac;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

.circles [class*=col] {
    padding: 0 6%;
}

.contact-image {
    height: 64px;
    width: auto;
}

.contact-row {
    margin-bottom: 2rem;
}

.contact-text {
    opacity: 0;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
    margin-left: 5px;
}

.contact-pic-container:hover .contact-text {
    opacity: 1;
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
}

.elastic-spacer {
    padding: 0.5rem 0;
}

.hr-no-margin {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.menu {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #F4A93F;
    -moz-text-decoration-color: #F4A93F;
}

.page-header {
    margin-bottom: 2rem;
}

.portfolio-text {
    color: white;
    padding-top: 20%;
    text-align: center;
}

.pad-image {
    margin-top: 0px;
}

/*
***************************************************************
*   MEDIA QUERY STYLES
***************************************************************
*/

@media only screen and (max-width: 959px) and (min-width: 768px) { /* Tablet */
    html {
        font-size: 10px;
    }
}

/* Tablet and below */
@media only screen and (max-width: 1024px) {
    .contact-image-fix {
        margin-left: -49px;
    }
    .contact-text {
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {
    #about-image {
        padding-top: 0;
    }
	#welcome-xs {
        text-align: center !important;
    }
    .xs-no-spacer {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) { /* Tablet */
    body {
        font-size: 16px;
    }
    .circles [class*=col] {
        padding: 5px 35%;
    }
    .elastic-spacer {
        padding: 1rem 0;
    }
    .pad-image {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 5px;
    }
    body {
        font-size: 14px;
    }
    .about-paragraph {
        margin-bottom: 4rem;
    }
    .circle img {
        width: 30%;
        height: 30%;
    }
    .circles [class*=col] {
        padding: 5px 30%;
    }
    .elastic-spacer {
        padding: 1rem 0;
    }
    .portfolio-text {
        padding-top: 15%;
    }
    .pad-image {
        margin-top: 5px;
    }
    .contact-text {
        margin: 0;
    }
}

@media only screen and (max-width: 520px) {
    .portfolio-small-text {
        font-size: 10px;
    }
}
